
  <div class="bv-section-arrival bg--grey-lightest" id="arrival" >

    <div class="harvey bv-boxpad--lg">

      <div class="harvey__img" style="background-image: url('{{site.img}}/pages/arrival/arrival.jpg');">

      </div>
      <div class="harvey__text text text--xxl text--center" style="color: #0B2A5E!important;">
        <div class=""  >
         <img class="bg--tui bv-logo boxpad--md" src="{{site.img}}/logo/tui.svg">
        </div>
          <div class="space--xl"></div>
      <div class="h h--md text--bold">Welkom bij TUI</div>
        <div class="space--md"></div>
      <div class="p p--xxxl boxpad--md">Vind hier je vluchten van Brussel naar Funchal met TUI</div>
        <div class="space--lg"></div>
      <a href="https://www.tuifly.be/nl/vliegtickets/portugal/madeira" target="_blank" class="btn btn--tui text--bold" >Vind vluchten</a>

      </div>
    </div>

</div>
